.js-devBar {
    position: relative;
    background-color: #444;
    font-size: 14px;
}

.js-devBar li { 
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding:10px 20px;
    transition: background-color 0.5s;
}

.js-devBar li:hover {
    background-color: #666;
}
